.profile-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-modal-content {
  width: 500px;
  height: 300px;
  background-color: var(--body-color);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile-modal-content h2 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

.profile-modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-modal-header h2 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
}

.profile-modal-header span {
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  cursor: pointer;
}

.profile-modal-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-modal-body-content-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-modal-body-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-modal-body-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-modal-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.profile-modal-footer button {
  margin: 0 0.5rem;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  /* red */
  background-color: #ff0000;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile-modal-footer button:hover {
  opacity: 0.8;
}

.profile-modal-body-icon {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.profile-modal-body-icon img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 1rem;
}
