@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.active__login {
  opacity: 1;
  visibility: visible;
}

.login__container {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 350px;
  background-color: var(--container-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.active__login__container {
  animation: slideIn 0.3s ease-in-out;
}
.close__login__container {
  animation: slideOut 0.3s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.login__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 10px;
  font-size: 1.5rem;
  background-color: var(--container-color);
  border: none;
  border-radius: 0 0 0 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.login__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: var(--container-color);
}

.login__title {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1);
}

.login__buttons {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: var(--mb-2);
}

.social__login--btn {
  width: 280px;
  height: 40px;
  margin-bottom: var(--mb-1);
  position: relative;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.login__logo {
  width: 150px;
  height: 150px;
  margin-bottom: var(--mb-1);
}

.lg-google,
.lg-facebook,
.lg-yahoo {
  border: 1px solid var(--title-color);
}

.lg-google:hover {
  background-color: var(--google-color);
  border: 1px solid var(--google-color);
}
.lg-facebook:hover {
  background-color: var(--facebook-color);
  border: 1px solid var(--facebook-color);
}

.lg-yahoo:hover {
  background-color: var(--yahoo-color);
  border: 1px solid var(--yahoo-color);
}

.social__login--icon-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--title-color-dark);
  border-radius: 2px 0 0 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.social__login--icon-wrapper img {
  width: 20px;
  height: 20px;
}
.btn-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--title-color-dark);
  margin-left: calc(var(--mb-1) * 5);
  padding: 0.5em 1em;
}
